In [2]:
import pandas as pd
import numpy as np
import csv

pd.set_option('display.max_columns', None) #Mostrar todas las columnas

In [51]:
df = pd.read_csv(
    'https://raw.githubusercontent.com/prof-tatiana-gutierrez/DatosMD/master/student-mat.csv',
    sep = ";")
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10

Punto 1

In [16]:
df.isna().sum();df.isnull().sum()
# 1. Para este data set no se registran valores Nulos

school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

Punto 2

In [103]:
from collections import Counter


print(" El numero de estudiantes por zona es:", (Counter(df["address"])))

 El numero de estudiantes por zona es: Counter({'U': 307, 'R': 88})

In [100]:
df_mask=df['address']=="R"
filtered_df = df[df_mask]

M_R= filtered_df["sex"]== "F"
Filter_F= filtered_df[M_R]

print(" El numero de mujeres en la zona rural es de: ",Filter_F["sex"].count())

 El numero de mujeres en la zona rural es de:  44

Punto 3

In [121]:
df_mask=df['address']=="R"
filtered_df = df[df_mask]

Fallas= filtered_df["absences"]<5
Fallas_R= filtered_df[Fallas]

print(" El numero de estudiantes que tienen menos de 5 fallas y viven en la zona rural es de: ",Fallas_R["absences"].count())


Mujeres= Fallas_R["sex"]=="F"

Fallas_F=Fallas_R[Mujeres]

print(" El numero de estudiantes que tienen menos de 5 fallas, viven en la zona rural y son mujeres es de: ",Fallas_F["sex"].count())

 El numero de estudiantes que tienen menso de 5 fallas y viven en la zona rural es de:  49
 El numero de estudiantes que tienen menso de 5 fallas, viven en la zona rural y son mujeres es de:  24

Punto 4

Punto 5

In [82]:


Nota_F= (df["G1"]*0.35) + (df["G2"]*0.35 )+ (df["G3"]*0.30)

Nota_F.describe()

print("la media de la nota final es: ",Nota_F.mean())
print("la mediana de la nota final es: ",Nota_F.median())
print("la nota minima es : ",Nota_F.min())
print("la nora maxima es: ",Nota_F.max())

la media de la nota final es:  10.692531645569622
la mediana de la nota final es:  10.7
la nota minima es :  1.4
la nora maxima es:  19.299999999999997

Punto 6